{% block head %}
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ app.locale }}"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="{{ app.locale }}"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="{{ app.locale }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ app.locale }}"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" />

    <title>{{ page|trans }} - EpiRadio</title>

	<meta name="description" content="EpiRadio Website" />
    <meta name="author" content="EpiRadio" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="{{ app.request.basepath }}/assets/js/page/carousel-preload.js"></script>

	<!-- Bootstrap -->
    <link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/bootstrap.min.css" />
	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700,800,300' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <!-- Theme -->
	<link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/magnific-popup.css" />
	<link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/owl.carousel.css" />
	<link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/owl.theme.css" />
	<link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/carousel-animate.css" />
	<link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/theme.css" />
	<!-- DatePicker -->
	<link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/datepicker/bootstrap-datepicker3.min.css" />
    <!-- Custom Style -->
    <link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/custom.css" />

</head>
{% endblock head %}